<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/@niravcodes/call-widget/dist/c2c-widget-full.umd.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Server Home</title>
</head>
<body>
    <h1>Welcome to the Simple Server!</h1>
    <p>This is the homepage served by Express.</p>
    <button id="callButton">Call Now</button>
    <c2c-widget
      collectUserDetails="false"
      userVariables='{"test":"john.doe@example.com"}'
      buttonId="callButton"
      callDetails='{"destination":"/public/livewire","supportsVideo":false,"supportsAudio":true}'
      token="eyJhbGciOiJkaXIiLCJlbmMiOiJBMjU2R0NNIiwiY2giOiJwdWMuc3dpcmUuaW8iLCJ0eXAiOiJTQVQifQ..s8N0kcqEgiaKFGgo.nF7T8hZYeebiXLE67Y5T3SZkoRp2WUQKyIHOkoXfOs5ejUE3kKwNSUoKVAcRY2SkwH-_ZJNjZJUjwSB2aAGlIwDZ4obF85pYxk1Pk2Z8blVakNNi5S2oA4aqknv-X6ToteLMn_PvPUMtEaIF06AKtqbrrrCh3sEym2UBsdVqc8lE9sInBJS0KwclZuHv0zDEqxv85Sh_63SphfAqfOiWMZYxOgxnLsKgy6owIlt2AbQWuM7XwMDz289w-9pm9FcAFFPyAKKlawlT1Cv3u4ALyrR2bKaF1SPvo8Ur46z2Ha5dtpOzvh2huVrTbfX7zxi_gvFSygWSaMr9skYML4mrpBpKn-_BUDRsS-cGHu2pv_rxjqGPWoRf7VjImbOnuqpZViYjOm2CKKmiAYXPRyGAsGLaQEZ76kqX-ea9B5Vk_brI1OBVi2hLKtf3nS3DVdF0BrMucJ-NHhO9VzIKp82A2pAS5epve-UwIST6aP1ZGr3JcyZpnBOlIMP8SBwRXi7V4dFikiIT9KdNTKdl.bil-pv1kfuiagT7bRebW1g"
    ></c2c-widget>

    <script>
        const widget2 = document.querySelector("c2c-widget");
        console.log(widget2);
        widget2.addEventListener("beforecall", () => {
          console.log("beforecall");
        });
        widget2.addEventListener("call.joined", ({ detail }) => {
            const client = detail.client;
            client.on("user_event", (params) => {
                console.log("user_event params", params);
            });
          console.log("call.joined", detail);

          
        });
        widget2.addEventListener("call.left", ({detail}) => {
          console.log("call.left", detail);
        });
      </script>

</body>
</html> 